<div id="top">

<h1><%= image_tag 'logo.png', alt: "メリーダイエット！" %></h1>

<nav>
  <ul>
    <li><%= link_to image_tag('icon_new.png', size: '40x50', alt: 'icon') + 'NEW', new_task_path %></li>
    <li><%= link_to image_tag('icon_setting.png', size: '35x50', alt: 'icon') + 'SETTING', '/users/setting' %></li>
    <li><%= link_to image_tag('icon_myhome.png', size: '27x50', alt: 'icon') + 'MYHOME', '#' %></li>
  </ul>
  <ul class="task">
    <% @tasks.each do |t| %>
      <li>
        <a href="/tasks/<%= t.id %>/finish">
          <p<%= today?(t) ? ' class=today' : ''%>><%= image_tag 'label_today.png', alt: "Today", width: '36', height: '36'%></p>
          <%= t.when %><br>
          <%= t.distance %>km
        </a>
      </li>
    <% end %>
  </ul>
</nav>

</div><!-- /#top -->

