<nav class="header-nav">
  <%= link_to image_tag('btn_back.png', size: '42x42', alt:'Back'), tasks_path %>
</nav>

<div id="contents">
  <%= form_for @task do |f| %>
    <dl class="question clearfix">
      <dt><%= image_tag 'face_merry03.png', size: '50x50', alt: 'メリーさん' %></dt>
      <dd><div class="bubble"><div class="message">新しいタスクを登録するのね</div></div></dd>
    </dl>

    <dl class="question clearfix">
      <dt><%= image_tag 'face_merry02.png', size: '50x50', alt: 'メリーさん' %></dt>
      <dd><div class="bubble"><div class="message">いつ？</div></div></dd>
    </dl>

    <dl class="answer clearfix">
      <dt><%= image_tag 'face_user.png', size: '50x50', alt: 'あなた' %></dt>
      <dd><div class="bubble"><div class="message"><%= f.text_field :when, class: 'datetimepicker', autocomplete: :off %>でお願い</div></div></dd>
    </dl>

    <dl class="question clearfix">
      <dt><%= image_tag 'face_merry02.png', size: '50x50', alt: 'メリーさん' %></dt>
      <dd><div class="bubble"><div class="message">ん、どのぐらい歩くつもり？</div></div></dd>
    </dl>

    <dl class="answer clearfix">
      <dt><%= image_tag 'face_user.png', size: '50x50', alt: 'あなた' %></dt>
      <dd><div class="bubble"><div class="message"><%= f.number_field :distance %>kmぐらいかな</div></div></dd>
    </dl>
    <% unless @user.phone_number.present? %>
      <%= fields_for @user do |u| %>
        <dl class="question clearfix">
          <dt><%= image_tag 'face_merry01.png', size: '50x50', alt: 'メリーさん' %></dt>
          <dd><div class="bubble"><div class="message">電話番号が未登録みたいね。教えてくれる？</div></div></dd>
        </dl>

        <dl class="answer clearfix">
          <dt><%= image_tag 'face_user.png', size: '50x50', alt: 'あなた' %></dt>
          <dd><div class="bubble"><div class="message"><%= u.telephone_field :phone_number %>でお願い。</div></div></dd>
        </dl>
      <% end %>
    <% end %>
    <dl class="question clearfix">
      <dt><%= image_tag 'face_merry01.png', size: '50x50', alt: 'メリーさん' %></dt>
      <dd><div class="bubble"><div class="message">これで登録するけどいいの？</div></div></dd>
    </dl>

    <dl class="answer clearfix">
      <dt><%= image_tag 'face_user.png', size: '50x50', alt: 'あなた' %></dt>
      <dd><div class="bubble"><div class="message"><%= f.submit 'OK!!!' %></div></div></dd>
    </dl>
  <% end %>
</div><!-- /#contents -->
