<nav class="header-nav">
  <%= link_to image_tag('btn_back.png', size: '42x42', alt:'Back'), tasks_path %>
</nav>
<div id="contents">
  <% if flash.present? %>
  <div class="signin-error">
    <% flash.each do |k, v| %>
      <%= content_tag(:span, v, class: k) %>
    <% end %>
  </div>
  <% end %>
  <div id="signin">
    <p>Backlog スペースIDを<br/>入力してください。</p>
    <%= form_tag '/signin/auth', method: :post do %>
      <%= text_field_tag 'space_id' %>
      <%= submit_tag 'SIGN IN', data: {disable_with: 'Processing...'} %>
    <% end %>
  </div>
</div>
